<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Body:</b>
  <%= @page.body %>
</p>

<p>
  <b>Show nav:</b>
  <%= @page.show_nav %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @page.thumbnail %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
